html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: black;
}

#main-div {
  display: flex;
  height: 100%;
}

#lijevi {
  width: 300px;
  height: 100%;
  background-color: white;
  flex-direction: column;
}

#gornji-lijevi {
  width: 100%;
  height: 50%;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#donji-lijevi {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desni {
  flex-grow: 1;
  height: 100%;
  background-color: black;
  display: flex;
 /*  justify-content: flex-end;
  align-items: flex-start;  */
  padding: 20px; 
  box-sizing: border-box; 
  flex-direction: column;
}

img {
  width: 100px;
  height: 100px;
}

.tekst-restoran {
  font-weight: 900;
  font-size: large;
  font-family: sans-serif;
  text-align: center;
}

.donji-tekst {
  font-size: xx-large;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 900;
  text-align: center;
}

.menuButton {
  width: 150px;
  height: 40px;
  border-radius: 20px; 
  font-family: sans-serif;
  font-weight: bold;
} 

button:hover{
    background-color: bisque; 
    cursor: pointer;
}  

.gornji-desn{
    height: 50px;
    width: 100%; 
    display: flex;
    justify-content: flex-end;
}  

.srdnji-desni{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content:space-around ;
    align-items:center;
    flex-direction: row; 
   
    
}

.donji-desni{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}  

.slika-restorana{ 
    width: 500px;
    height: 300px;

}  

.tekst-desno{ 
    width: 400px;
    height: 300px;
    text-align: start;
    color: white; 
    text-align: center; 
    font-family: sans-serif;
}   

.facebook{
    width: 30px;
    height: 30px; 
    background-color: white; 
    align-self: flex-end;
    
} 

.instagram{
    width: 30px;
    height: 30px;
    background-color: white;
} 

.adresa{
    color: white;
}

.guraj{
    display: flex;
    flex-direction: row;
}